// src/themes/custom-theme.scss
@use '@angular/material' as mat;

$primary-color: mat.define-palette(mat.$indigo-palette);
$accent-color: mat.define-palette(mat.$blue-palette);
$warn-color: mat.define-palette(mat.$red-palette);

$theme: mat.define-dark-theme((
  color: (
    primary: $primary-color,
    accent: $accent-color,
    warn: $warn-color,
  ),
  typography: mat.define-typography-config((
    // Define typography settings here
  )),
));

@include mat.all-component-themes($theme);
